* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
body {
  background-color: coral;
}
h1 {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  font-size: 50px;
  color: white;
}
.tutorial-container {
  max-width: 750px;
  max-height: 500px;
  font-size: 30px;
  background-color: white;
  border-radius: 25px;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
span {
  text-align: center;
}
h3 {
  margin: 10px;
  font-size: 25px;
}
.input-container {
  padding: 50px;
}
input {
  width: 75px;
  height: 75px;
  margin: 10px;
  border-radius: 10px;
  border: solid 5px blue;
  color: black;
  background-color: white;
  font-size: 50px;
  text-align: center;
}
.plus {
  font-size: 75px;
  color: white;
  text-align: center;
}
button {
  width: 75px;
  height: 75px;
  margin: 10px;
  border-radius: 10px;
  border: solid 5px teal;
  color: black;
  background-color: slateblue;
  font-size: 50px;
  text-align: center;
  cursor: pointer;
}
.plus-button {
  color: white;
  text-align: center;
}
.calculate-button {
  width: 150px;
  color: white;
}
.calculate-button span {
  font-size: 30px;
  position: relative;
  top: -6px;
}
h4 {
  margin: 10px;
  font-size: 25px;
  color: white;
}
